@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure proper scroll behavior */
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  overflow-y: auto;
}

#app {
  min-height: 100vh;
}
